
@media only screen and (min-width: 1024px){
	.container {
	    width: 1024px;
	}

	.iguana {
		width:30%; 
		height:50%; 
		float:left; 
		margin-right:10px;
	}

	.description {
		width:68%; 
		float:right;
		font-size: 16px;
	}

	.research {
		overflow: hidden; 
		margin-top:50px;
	}

	.papers {
		float:left; 
		width:55%;
	}

	.architecture {
		float:right; 
		width: 40%; 
		text-align: center;
	}

	body {
		width: 1024px;
		margin: 0 auto;
	}

	.h1, h1 {
		font-size: 32px;
	}

	#example div.tab-content {
		width: 700px; 
	}

	.nav-tabs {
		width: 700px;
	}

	p {
		text-align: justify;
	}

	.navbar>.container .navbar-brand {
		margin-left: -20px;
	}

	.tabs-left {
		width: 100%;
	}

	code {
		color: black;
		background-color: #F5F5F5;
	}

	.col-xs-3 {
		width: 30%;
	}

	.col-xs-9 {
		width: 70%;
	}

	li {
		margin-bottom: 10px;
	}
}

/** iphone 5 */
@media only screen and (max-width: 768px) {
	
	.container {
	    width: 100%;
	}

	.description {
		font-size: 16px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.architecture {
		width: 60%; 
		padding-top:15px;
		margin: 0 auto;
	}

}




