
@media only screen and (min-width: 1024px) {

	.container {
		width: 1024px;
	}

	.iguana {
		width:30%; 
		height:50%; 
		float:left; 
		margin-top: 25px;
	}

	.description {
	    width: 66%;
	    float: right;
	    font-size: 16px;
	    margin-left: 10px;
	    margin-right: 10px;
	}

	.research {
		overflow: hidden; 
		margin-top:50px;
	}

	.papers {
		float:left; 
		width:55%;
	}

	.architecture {
		float:right; 
		width: 40%; 
		text-align: center;
	}

	body {
		width: 1024px;
		margin: 0 auto;
	}

	h1 {
		font-size: 32px;
		margin-bottom: 30px;
	}

	#example div.tab-content {
		width: 700px; 
	}

	.nav-tabs {
		width: 700px;
	}

	.navbar>.container .navbar-brand {
		margin-left: -20px;
	}

	.tabs-left {
		width: 100%;
	}

	.col-xs-3 {
		width: 30%;
	}

	.col-xs-9 {
		width: 67%;
	}

	li {
		margin-bottom: 10px;
	}

	.icon {
		width: 90%;
	}

	.navbar-toggle {
		margin-top: 18px;
	}

	.main {
		overflow: hidden; 
		margin-top:20px;
	}

}

@media only screen and (min-width: 800px) and (max-width: 1023px) {

	.container {
		width: 800px;
	}

	.main {
		overflow: hidden; 
		margin-top:20px;
	}

	body {
		width: 800px;
		margin: 0 auto;
	}

	.iguana {
		width:30%; 
		height:50%; 
		float:left; 
		margin-top: 25px;
	}

	.description {
	    width: 66%;
	    float: right;
	    font-size: 16px;
	    margin-left: 10px;
	    margin-right: 10px;
	}

	.research {
		overflow: hidden; 
		margin-top:50px;
	}

	.papers {
		float:left; 
		width:55%;
	}

	.architecture {
		float:right; 
		width: 40%; 
		text-align: center;
	}

	h1 {
		font-size: 32px;
		margin-bottom: 30px;
	}

	#example div.tab-content {
		width: 700px; 
	}

	.nav-tabs {
		width: 700px;
	}

	.navbar>.container .navbar-brand {
		margin-left: -20px;
	}

	.tabs-left {
		width: 100%;
	}

	.col-xs-3 {
		width: 30%;
	}

	.col-xs-9 {
		width: 67%;
	}

	li {
		margin-bottom: 10px;
	}

	.icon {
		width: 90%;
	}

	.navbar-toggle {
		margin-top: 18px;
	}

	.main {
		overflow: hidden; 
		margin-top:20px;
	}

}


@media only screen and (max-width: 799px) {

	.description {
		font-size: 16px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.iguana {
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 35px;
	}

	.architecture {
		width: 80%; 
		padding-top:15px;
		margin: 0 auto;
	}

	h1 {
		font-size: 24px;
		margin-bottom: 30px;
	}

	.col-xs-9 {
		width: 100%;
	}

	.icon {
		width: 60%;
		margin-top: -4px;
	}

	.main {
		overflow: hidden; 
		margin-top: -10px;
	}


}


#bs-example-navbar-collapse-1 {
	font-weight: bold;
	text-shadow: none;
}

code {
	color: black;
	background-color: #F5F5F5;
}

.navbar {
	background-color: black;
	background-image: none;
}

.container>.navbar-header {
	margin-left: 5px;
}

.navbar-nav {
	margin-top: 10px;
}

.navbar-collapse {
	box-shadow: none;
	border-top: none;
}

#bs-example-navbar-collapse-1 .nav>li {
    background-color: black;
}

div.col-lg-12 {
	padding-left: 25px;
}

.row {
     margin-left: 0px; 
     margin-right: 0px; 
}





