
@media (min-width: 1024px){
.container {
    width: 1024px;
}

.carousel-inner {
	width: 1024px;
	margin: 0 auto;
}

body {
	width: 1024px;
	margin: 0 auto;
}

#description {
	font-size: 16px;
	/*width: 650px;*/
}

.h1, h1 {
	font-size: 32px;
}

#example div.tab-content {
	width: 700px; 
}

.nav-tabs {
	width: 700px;
}

p {
	text-align: justify;
}

.navbar>.container .navbar-brand {
	margin-left: -20px;
}

.tabs-left {
	width: 100%;
}

code {
	color: black;
	background-color: #F5F5F5;
}

.col-xs-3 {
	width: 30%;
}

.col-xs-9 {
	width: 70%;
}

li {
	margin-bottom: 10px;
}



